:host {
    display: block;
    // background: #222222;
    background: #222222;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

svg {
    height: 100%;
    width: 100%;
    line {
        stroke: rgb(201, 201, 201);
        stroke-width: 3px;
        cursor: pointer;
    }
    line.grid {
        stroke-width: .5px;
    }
    line.selected {
        stroke: #ffe20a;
    }
}