<div #container class="container" (mousedown)="down($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" (keydown)="onKeyDown($event)" tabindex="0">
  <side-panel (clearAll)="clearAll()" (switch)="switch()"></side-panel>
  <svg #svg [attr.viewBox]="viewBox">
    <line *ngFor="let l of grid"
    class="grid"
    [attr.x1]="l.x1"
    [attr.x2]="l.x2"
    [attr.y1]="l.y1"
    [attr.y2]="l.y2"
></line>
    <line *ngFor="let line of lines; let idx = index"
    [id]="idx"
    [attr.x1]="line.x1"
    [attr.x2]="line.x2"
    [attr.y1]="line.y1"
    [attr.y2]="line.y2"
    [ngClass]="{ 'selected': (selectedPath$ | async) === idx}"
    ></line>
    <line *ngIf="currentPath as p"
      [attr.x1]="p.x1"
      [attr.x2]="p.x2"
      [attr.y1]="p.y1"
      [attr.y2]="p.y2"
    ></line>
  </svg>
</div>